.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container{
  text-align: center;
  margin: 0 auto;
}
.intro{
  display: flex;
  flex-direction: column;
  text-align: start;
  max-width: 500px;
}
.photo{
  border-radius: 110%;
  height: 180px;
  width: 180px;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
  margin-bottom: 30px;
}