.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container{
  text-align: center;
  margin: 0 auto;
}
.intro{
  display: flex;
  flex-direction: column;
  max-width: 500px;
}